.myImg {
  background-color: #e6e6e6;
  background-image: url(https://bacon.house.gov/sites/bacon.house.gov/files/styles/congress_featured_image/public/featured_image/issues/Healthcare.jpg?itok=aZTwCGsM);
  background-repeat: no-repeat;
  background-position: cover;
  background-size: cover;
  position: relative;
  height: 100vh;
  background-attachment: scroll;

}
.hello {
  padding: 100px 0;
}
  
