.name
{
	display: block;
    color: white;
    text-align: center;
    padding: 8px 10px;
    font-family: "ETmodules";
   	font-size: 25px;
	font-weight: 800;
	position:fixed;
	left:500px;
    
}
.name1
{
position:fixed;
	left:460px;
}

.aa{
width:200px;
height:350px;
background-color:rgba(0,0,0,0);
margin:0 auto;
margin-top:auto;

padding-left:0px;
border-radius:5px;
-webkit-border-radius:5px;
-o-border-radius:5px;
-moz-border-radius:5px;
color:black;



}
.aa input[type="text"]{
width:200px;
height:35px;
border:0;
border-radius:5px;
-webkit-border-radius:5px;
-o-border-radius:5px;
-moz-border-radius:5px;
padding-left:5px;
}
.aa input[type="date"]{
width:200px;
height:35px;
border:0;
padding-left:5px;
border-radius:5px;
-webkit-border-radius:5px;
-o-border-radius:5px;
-moz-border-radius:5px;
}

.aa input[type="submit"]{
  border: 2px solid black;
  border-radius: 3px;
  background-color: white;
  color: black;
  padding: 8px 18px;
  font-size: 8px;
  cursor: pointer;
  border-color:white;
  color: black;
}
.aa input[type="submit"]:hover
{
background-color: whitesmoke;
  color: black;
}

