p {
    line-height: 5px;
    
}
a {
    color: black;
  }

  
  .card {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 135px;
      height: 155px;
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom:2%;
      float: right;
          
    }
    
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      color: black;
    }
    
    .container {
      padding: 2px 16px; 
      float: right;
    }
    .type1 {
      font-size: 6px;
      font-style: oblique;
      font-weight: 100;
      position: initial;
      text-transform: uppercase;
      color: darkgrey;
      padding-top: 2px;
     
    }
    .name1 {
      font-size: 10px;
      font-style: normal;
      font-weight: 500;
      position: inherit;
      padding-bottom: 2px; 
  
    }
    .cost {
      font-size: 8px;
      font-style: oblique;
      font-weight: 120;
      position: inherit;
     
    }
    .image {
        width:150px;
        float: left;
        /* align-self: auto; */
    }
    .car {
      width: 100%;
      height: 130px;
    }
    
  
    ul {
      list-style-type: none;
      align-content: center;
    }
    