body {
  background-color: black;
}
p {
    line-height: 5px;
    
}
a {
    color: black;
  }

  
  .card1 {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      background-color: white;
      transition: 0.3s;
      width: 165px;
      height: 155px;
      margin-left: 4%;
      margin-right: 2%;
      margin-bottom:4%;
      float: left;
          
    }
    
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      color: black;
    }
    
    .container {
      padding: 2px 16px; 
      float: right;
      margin-top: -40px;
    }
    .type1 {
      font-size: 6px;
      font-style: oblique;
      font-weight: 100;
      position: initial;
      text-transform: uppercase;
      color: darkgrey;
      padding-top: 2px;
     
    }
    .name1 {
      font-size: 10px;
      font-style: normal;
      font-weight: 500;
      position: inherit;
      padding-bottom: 2px; 
  
    }
    .location {
      font-size: 8px;
      font-style: italic;
      font-weight: 300;
      position: inherit;
      padding-bottom: 2px; 
  
    }
    .cost {
      font-size: 8px;
      font-style: oblique;
      font-weight: 120;
      position: inherit;
     
    }
    .image {
        width:150px;
        height: 50%;
        float: right;
        /* align-self: auto; */
    }
    .car {
      width: 100%;
      height: 130px;
    }
    
  
    ul {
      list-style-type: none;
      align-content: center;
    }
    